<!DOCTYPE html>
<html>
<head>
  <title>Buy 'n' Code</title>
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>
	<header>
		<div id="topbar">
			<div class="center-page">
				<h1 id="logo" class="pull-left"><%= link_to "Buy 'n' Code", store_path %></h1>

				<% if @cart %>
					<ul id="menu" class="nav nav-pills pull-right">
						<li id='cart-link'><a href="/carts/<%= @cart.id %>"><i class="glyphicon glyphicon-shopping-cart"></i> Cart <span id="cart-info"><%= cart_info(@cart) unless @cart.line_items.empty? %></span></a></li>
						<li><a href="#"><i class="glyphicon glyphicon-user"></i> Profile</a></li>
					</ul>
				<% end %>

				<div class="clearfix"></div>
			</div>
		</div>
	</header>

	<div id="content" class="center-page">
		<% if notice %>
			<div class="row">
				<div class="alert alert-success col-md-6 col-md-offset-3" id="notification"><%= notice %></div>
			</div>
		<% end %>

		<br>

		<div id="main" class="row"><%= yield %></div>
	</div>

	<footer></footer>
</body>
</html>
