<h2>Your Cart</h2>

<br/>

<table class="table table-bordered table-hover">
	<tr class="active">
		<th>Quantity</th>
		<th>Title</th>
		<th>Price</th>
		<th >Add more?</th>
		<th>Remove?</th>
		<th >Remove all?</th>
	</tr>

	<%= render cart.line_items %>

	<tr class="info">
		<td colspan="2"><b>Total</b></td>
		<td colspan="1"><b><%= number_to_currency(cart.total_price) %></b></td>
	</tr>
</table>

<%= link_to 'Checkout', new_order_path, class: "btn btn-success pull-right" %>
<%= button_to 'Empty cart', cart, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
