<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "erro") %> impediram que o produto fosse salvo:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, "Title" %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description, "Description" %><br>
    <%= f.text_area :description, rows: 6 %>
  </div>
  <div class="field">
    <%= f.label :picture, "Image" %><br>
    <%= f.file_field :picture, required: true %>
  </div>
  <div class="field">
    <%= f.label :price, "Price" %><br>
    <%= f.text_field :price %>
  </div>
  <hr/>
  <div class="actions">
    <%= f.submit "Salvar", class: "btn btn-success" %>
  </div>
<% end %>
