<div class="entry">
	<%= link_to product, title: product.title do %>
		<p class="text-center title"><%= truncate(product.title, length: 25) %></p>
	<% end %>

	<%= image_tag(product.image_url, class: "center-block") %>

	<p class="price text-center"><%= number_to_currency(product.price) %></p>

	<%= button_to 'Add to cart', line_items_path(product_id: product), class: "btn btn-success center-block", remote: true %>
</div>
