<h2>Listing products</h2>

<br/>

<table class="table table-striped">
  <% @products.each do |product| %>
    <tr>
      <td class="list_image">
        <%= image_tag(product.image_url) %>
      </td>

      <td class="list_description">
        <dl>
          <dt><%= product.title %></dt>
          <dd><%= truncate(strip_tags(product.description), length: 80) %></dd>
        </dl>
      </td>

      <td class="list_actions">
        <%= link_to 'Show', product, class: "btn btn-xs btn-primary" %>
        <%= link_to 'Edit', edit_product_path(product), class: "btn btn-xs btn-info" %>
        <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %>
      </td>
    </tr>
  <% end %>
</table>

<br/>

<%= link_to 'New Product', new_product_path, class: "btn btn-success" %>
