<h2><%= @product.title %></h2>

<br/>

<%= image_tag(@product.image_url, class: 'list_image') %>

<hr/>

<p>
	<%= strip_tags(@product.description) %>
</p>

<p>
  <b>
  	Price: <%= number_to_currency(@product.price) %>
  </b>
</p>
