<tr>
	<td><%= line_item.quantity %>&times;</td>
	<td><%= line_item.product.title %></td>
	<td><%= number_to_currency(line_item.total_price) %></td>
	<td class="text-center table-add-more"><%= button_to '+', line_item_path(line_item), method: 'patch', class: "btn btn-xs btn-success" %></td>
	<td class="text-center table-add-more"><%= button_to '-', reduce_line_item_path(line_item), method: 'patch', class: "btn btn-xs btn-warning" %></td>
	<td class="text-center table-add-more"><%= button_to 'x', line_item_path(line_item), method: 'delete', class: "btn btn-xs btn-danger" %></td>
</tr>
