div#topbar {
	background-color: #226;
	width: 100%;
	height: 100px;

	a {
		color: lightblue;
	}
}

div.center-page {
	width: 1024px;
	margin: 0 auto;
	margin-bottom: 50px;
}

h1#logo {
	letter-spacing: 5px;
	// font-family: Verdana;
	font-size: 48px;

	a {
		text-decoration: none;
	}
}

ul#menu {
	margin-top: 25px;

	li {
		font-size: 18px;
	}

	a:hover {
		color: #226;
	}
}
