.products {

	.list_image {
		width: 20%;


		img {
			width: 120px;
			height: 160px;
		}
	}

	.list_description {
		width: 60%;

		dl {
			margin: 0;
		}

		dt {
			font-weight: bold;
			font-size: larger;
		}

		dd {
			margin: 0;
		}
	}

	.list_actions {
		text-align: right;
	}
}
