.store {

	div#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
	}

	div.entry {
		width: 210px;
		margin-top: 30px;

		p.title {
			height: 40px;
			font-size: 18px;
		}

		img {
			width: 150px;
			height: 200px;
			border: 2px solid #eee;
			border-radius: 5px;
			cursor: pointer;
		}

		a {
			text-decoration: none;
		}

		p.price {
			margin-top: 10px;
			font-size: 16px;
			font-weight: bold;
		}
	}

}
